.contact{
    height: 420px;
    text-align: center;
}
label{
    width: 150px;
    text-align: right;
    margin-left: 250px ;
}
input{
    width: 300px;
    margin-bottom: 24px;
    margin-left: 24px;
}
textarea{
    margin-left: 24px;
    height: 150px;
    width: 300px;
    margin-bottom: 24px;
}
input,textarea{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#submit-button{
    width: 304px;
    margin-left: 180px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    border: 1px solid black;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}